<div class="clearfix">
  <h2 class="pull-left clearfix"><img class="img-thumbnail" src="<%= thumbnail_url %>"><span><%= name %></span></h2>
  <div class="dropdown pull-right">
    <button class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Download
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <li><a href="<%= baseUrl %>.csv" target="_blank" download>Spreadsheet</a></li>
      <li><a href="<%= baseUrl %>.kml" target="_blank" download>KML</a></li>
      <li><a href="<%= baseUrl %>.zip" target="_blank" download>Shapefile</a></li>
      <li class="divider"></li>
      <li><a href="<%= arcgis_online_item_url %>" target="_blank">View in ArcGIS Online</a></li>
      <li><a href="<%= url %>" target="_blank">API</a></li>
    </ul>
  </div>
</div>


<dl class="dl-horizontal">
  
  <dt>Description:</dt>
  <dd><%= description %></dd>
  
  <dt>Owner:</dt>
  <dd><%= owner %></dd>

  <dt>Created:</dt>
  <dd><%= moment(created_at).calendar() %></dd>
  
  <dt>Updated:</dt>
  <dd><%= moment(updated_at).calendar() %></dd>

  <dt>Tags:</dt>
  <dd><%= tags.join(' | ') %></dd>
  
  <dt>Views:</dt>
  <dd><%= views %></dd>

</dl>

<div id="map"></div>
<div id="smaps">
  <div class="container"></div>
</div>
