<td><%= name %></td>
<td><%= owner %></td>
<td><%= recordCount %></td>
<td><%= itemType %></td>
<td><%= views %></td>
<td><%= moment(createdAt).fromNow() %></td>
<td><%= moment(updatedAt).fromNow() %></td>
